
  .container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: screen;
    margin-top: 14vh;
    background-color: #FAFAFA;
    margin-left:14vh;
  }
  
  .wrapper {
    border-bottom: 0.531px solid  #212121;
    overflow: hidden;
  }

  .wrapper .question-container {
    width: screen;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 48px;
    font-style: normal;
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 130%;
  }
  
  .question-container.active {
    color: #212121;
    
  }

  .wrapper .arrow {
    font-size: 2rem;
    transition: .5s ease-in-out;
  }
  
  .arrow.active {
    rotate: 180deg;
    color: #212121;
  }
  
  .wrapper .answer-container {
    padding: 0 1rem;
    transition: .7s ease-in-out;
    align-items: flex-start;
    gap: 173px;
  }
  
  .wrapper .answer-content {
    padding: 1rem 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: 160%;
    letter-spacing: 0.24px;
  }
  