.title {
  color: #212121;
  font-size: 2.4vw;
  font-weight: 700;
  margin: 1vw 0;
}

p {
  color: #212121;
  font-size: 1.25vw;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 0.8vw;
}

h2,
h3 {
  color: #212121;
  font-size: 1.7vw;
  font-weight: 600;
  margin: 1vw 0;
}
