@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.scroll::-webkit-scrollbar-track {
  @apply bg-neutral-100 rounded-[10px];
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.scroll::-webkit-scrollbar {
  @apply w-3 bg-neutral-100;
}
.scroll::-webkit-scrollbar-thumb {
  @apply bg-[#7e7d7d] rounded-[10px];
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hide scrollbar globally */
html, body {
  @apply no-scrollbar;
  font-family: 'Poppins', sans-serif;
}

.loader-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0.208vw; 
  height: 3.542vw;
   
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #00AFF1;
  border-radius: 0.208vw ;
  width: 0.208vw; 

}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
}




.scrollbar-custom2::-webkit-scrollbar {
  width: 0.208vw; 
  height: 3.542vw;
   
}

.scrollbar-custom2::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 0.208vw ;
  width: 0.208vw; 

}

.scrollbar-custom2::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

.scrollbar-custom2::-webkit-scrollbar-button {
  display: none;
}






